mixin head(title)
  title {{ title }} | Million Pixels
  meta(charset='utf-8')
  link(rel='stylesheet' href='https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css' crossorigin='anonymous')
  link(href='/static/main.css' rel='stylesheet' type='text/css')
