extends layout
block content
  #content
    .row
      .col-sm-8
        h3 Cool admin panel here
      .col-sm-4
        h3 Users:
        #users
        button#getusers.btn.btn-primary Get Users
block script
  script(src='https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.min.js')
  script.
    $('#getusers').click(function(event) {
      event.preventDefault()
      $.ajax()
    })
