footer#footer
  center
    p Web app project inspired by the #[a(href='https://en.wikipedia.org/wiki/The_Million_Dollar_Homepage' target='_blank') million dollar homepage] inspired by
    p Sivert V. Sæther og Julian Støver &#169; 2020
