nav#navbar.navbar.navbar-expand-sm.bg-dark.navbar-dark(id='navbar')
  a.navbar-brand(href='/' style='color: springgreen') Million Pixels
  ul.navbar-nav
    li.nav-item
      a.nav-link(href='/about') About
  ul.navbar-nav.ml-auto
    unless token
      li.nav-item
        a.nav-link.right(href='/register') Register
      li.nav-item
        a.nav-link.right(href='/login') Login
    else
      li.nav-item
        a.nav-link.right(href='/profile') #{token.nick}
