extends layout
block content
  #content
    .row
      .col-sm-9
        h3 About Million Pixels
      .col-sm-3
    br
    .row
      .col-sm-9
        p Million Pixels is a project inspired by #[a(href='https://en.wikipedia.org/wiki/The_Million_Dollar_Homepage' target='_blank') The Million Dollar Homepage] and #[a(href='https://www.reddit.com/r/place/' target='_blank') reddit.com's r/place].
        br
        p Source code can be found @ #[a(href='https://github.com/Ghost-Zephyr/millionpixels' target='_blank') The Million Pixels GitHub].
