extends layout
block content
  #content
    .row
      .col-sm-9
        h3 Cool picture here
      .col-sm-3
        ul
          li #[a lok]
          li #{token['nick']}
    center
      canvas#pikk(width='1000' height='1000')
      //- svg#swag(style='width: 1000; height: 1000; border: border: green 2px solid; margin-top: 2vh;')
block script
  script(src='/static/pikk.js')
  //- script(src='/static/swag.js')
