extends layout
block content
  #content
    .row
      .col-sm-9
        h3 Cool picture here
      .col-sm-3
        if token
          p Logged in as #{token['nick']}
    center
      h5 Huge load
      canvas#pikk(width='1000' height='1000')
block script
  script(src='/static/pikk.js')
