extends layout
block content
  #content
    .row
      .col-sm-9
        h3 Cool picture here
      .col-sm-3
        ul
          li #[a lok]
          li {{token['nick']}}
          //- #{token['nick']}
    center
      canvas#pikk(width='1000' height='1000')
block script
  script(src='/static/pikk.js')
