doctype html
html(lang='en')
  head
    title #{title} | Million Pixels
    meta(charset='utf-8')
    link(rel='stylesheet' href='https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css' crossorigin='anonymous')
    link(href='/static/main.css' rel='stylesheet' type='text/css')
    block head
  body
    nav#navbar.navbar.navbar-expand-sm.bg-dark.navbar-dark(id='navbar')
      a.navbar-brand(href='/' style='color: springgreen') Million Pixels
      ul.navbar-nav
        if token
          li.nav-item
            a.nav-link(href='/pixels') Edit pixels
        li.nav-item
          a.nav-link(href='/about') About
      ul.navbar-nav.ml-auto
        if token
          if token.admin
            li.nav-item
              a.nav-link.right(href='/mastermind') Admin shits
          li.nav-item
            a.nav-link.right(href='/profile') #{token.nick}
          li.nav-item
            a.nav-link.right(href='/logout') Logout
        else
          li.nav-item
            a.nav-link.right(href='/register') Register
          li.nav-item
            a.nav-link.right(href='/login') Login
    block content
    footer#footer
      center
        p Web app project inspired by #[a(href='https://en.wikipedia.org/wiki/The_Million_Dollar_Homepage' target='_blank') The Million Dollar Homepage].
        p Development; Sivert V. Sæther and idea; Julian Støver &#169; 2020
    block script
