doctype html
include mixins/head.pug
html(lang='en')
  +head(title)
  body
    include includes/navbar.pug
    #content
      .row
        .col-sm-9
          h3 Good shit
        .col-sm-3
          ul
            li #[a lok]
    include includes/footer.pug
