extends layout
block head
  include includes/jQuery.pug
block content
  #content
    .row
      .col-sm-8
        h3 Cool admin panel here
      .col-sm-4
        h3 Users:
        #users
        button#getusers.btn.btn-primary Get Users
block script
  script.
    $('#getusers').click(function(event) {
      event.preventDefault()
      $.ajax()
    })
